# dependencies
/node_modules
/.pnp
.pnp.js

# build
/.next/
/out/
/build

# env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE / OS
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json

# vercel
.vercel

# local analytics log (dev)
/data/

# local analytics log (dev)
/data/
